/* __INDEX__ */
/* Basic setup */
/* Typography and paragraphs */
/* Box layout */
/* Profile layout */
/* Opslag layout */
/* Image properties */
/* Text on images */


/* Basic setup */

@media screen and (max-width: 991px) {
     /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
     /* start of phone styles */

}

body {
    background: silver;
    margin: 0;
    padding: 0;
    overflow: visible;
    line-height: 0%;
}

/* Typography and paragraphs */

a.profileclick {
    padding: 0;
    margin: 0;
}

a.logoclick {
    padding: 0;
    margin: 0;
}

p {
    padding-left: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'arial', sans-serif;
    font-weight: bold;
}

p.toplogo {
    text-align: right;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    font-style: italic;
    font-weight: 900;
    margin: 0;
    padding: 25px 30px 0px 0px;
    display: inline-block;
    float: right;
}

p.topnavn {
    text-align: left;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    margin: 0;
    padding: 15px 30px;
    display: inline-block;
    float: left;
    /*text-shadow: 1px 1px 2px #000000;*/
}

br {
    padding: 0;
    margin: 0;
}

/* Box layout */

#screen {
    display: block;
    background: #ffffff;
    width: 100%;
    height: 1280px;
    margin: auto;
}

#top {
    display: block;
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: orange;
    /*background-color: #04d2ed;*/
/*    background-color: #f51e27;*/
    z-index: 10;
}

#content {
    padding-top: 120px;
    display: block;
    width: 100%;
}

/* Profile layout */

.profbox {
    height: 240px;
    display: block;
    margin: 20px 30px 20px 30px;
    float: centre;
    outline: black dotted 3px;
}

p.profnavn {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 38pt;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
    margin-right: 130px;
    display: inline-block;
    float: right;
}


/* Opslag layout */

/* Image properties */

img {
    padding: 12px;
}

img.profpic {
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 10px 0 0 10px;
    padding: 0;
}

img.halves {
    display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;
}

img.thirds {
    position: relative;
    display: inline-block;
    width: 33.33%;
    padding: 0;
    margin: 0;
}

img.quarters {
    display: inline-block;
    width: 25%;
    padding: 0;
    margin: 0;
}
